name: Python CI & AI Review

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [main]
    tags: ['v*.*.*']

jobs:

  ai-review:
    name: AI Code Review
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    continue-on-error: true
    permissions:
      contents: read
      pull-requests: write
    container:
      image: registry.gitlab.com/redhat/edge/ci-cd/ai-code-review:github-api-var
    steps:
      - name: Run AI Code Review
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: |
          ai-code-review --pr-number ${{ github.event.pull_request.number }} --post
